server:
  interface: 127.0.0.1
  username: "unbound"
  directory: "/etc/unbound"
  use-syslog: yes
  do-not-query-localhost: no
  access-control: 0.0.0.0/8 allow
  {% if unbound.tls %}tls-upstream: yes{% endif %}

  # Set root DNS servers.
  root-hints: "/etc/unbound/root.hints"

  # RFC1918 networks are private and should not be returned.
  private-address: 10.0.0.0/8
  private-address: 172.16.0.0/12
  private-address: 192.168.0.0/16
  private-address: 169.254.0.0/16
  private-address: fd00::/8
  private-address: fe80::/10

  local-zone: 10.in-addr.arpa transparent
  local-zone: 192.in-addr.arpa transparent
  # our evbops.com NS
  private-domain: "evbops.com"
  private-domain: "evbhome.com"
  private-domain: "aws-us-east-1.evbops.com"
  private-domain: "tritip.net"
  private-domain: "service.evb"
  private-domain: "service.evbstage"
  private-domain: "service.evbqa"

  stub-zone:
    name: "aws-us-east-1.evbops.com."
    stub-addr: 172.21.198.112
    stub-first: yes

  stub-zone:
    name: "evbops.com."
    stub-addr: 172.21.5.102
    stub-first: yes

  stub-zone:
    name: "evbhome.com."
    stub-addr: 172.21.5.102
    stub-first: yes

  stub-zone:
    name: "tritip.net."
    stub-addr: 192.168.6.1
    stub-first: yes

  forward-zone:
    name: "evb."
    forward-addr: 172.21.5.102

  forward-zone:
    name: "evbstage."
    forward-addr: 172.21.5.102

  forward-zone:
    name: "evbqa."
    forward-addr: 172.21.5.102

{% if unbound.nameservers %}
  # Define DNS servers to forward queries to.
  forward-zone:
    name: "."
    {% for nameserver in unbound.nameservers %}
    forward-addr: {{ nameserver }}
    {% endfor %}
{% endif %}

